
config MOTOR_S2MU106
	tristate "s2mu106 haptic driver"
	default n
	depends on I2C
	help
	 Say Y to include support for System LSI s2mu106
	 Haptic driver.
	 The Haptic Motor driver support both ERM and
	 LRA type actuators.

config MOTOR_VOLTAGE_3P3
	bool "Using MOTOR VOLTAGE 3P3"
	depends on MOTOR_S2MU106
	default n
	help
		If you say yes here you will get support for
		for the  MOTOR VOLTAGE 3P3 feature.
